body{
  background-color: black;
  text-align: center;
  font-family: Verdana;
}
  h1{
    color: white;
  }
#download{
  color:aquamarine;
  text-decoration: none; 
  decoration: none; 

}
#botright
{
  text-align: right;
  color: gray;
}
#gray{
  color:gray;
}
